.Flex_container{

    display: flex;
    justify-content: space-evenly;
    background-color: #f5f6fa;
}

.footerBox{
    background-color: #002b6b;
    color: white;
    width: 100%;
}

.footerBoxSection{
 
    // width: 80% !important; 
    padding: 28px 46px 18px 59px;
}

.finalfooter h3 {
    text-align: center;
    font-size: 16px;
    color: white;
}
.finalfooter {
    border-top: 1px solid #ebebeb;
    border-color: #313547;
}

.footer2 h2 {
    color: white !important;
    font-size: 1.38em !important;
}
.footer2 ul li a {
    color:white;
    font-size: 15px !important;
    font-weight: 500;
}
.footer2 ul li::marker {
    color: #fe7259;
}
.footer2 {
    margin: -25px 40px;
}
.footer2 ul li a:hover {
    color: #fe7259;
}

.footer1 p {
    color: white;
    font-weight: 500;
}
.footer .row {
    display: flex;
}
.footer1 ul {
    display: flex;
    text-align: center;
    justify-content: space-around;
    list-style: none;
    margin-left: -60px;
}
.footer1 ul li a img {
    width: 35px;
    height: 35px;
}

.backgroundbox{background-color: #F8F8F8;}


.emailbuttonfooter{
    background: #002b6b;
    height: 47px;
    width: 179px;
    color: white;
    font-size: 20px;
}

.inputfooter{

    width: 285px;
    height: 47px;
    margin-left: 737px;
    /* display: flex; */

}

.flex_boxfooter{display: flex;}

.par{
    columns: black !important;
}

.bottom_box{

    margin-bottom: 10px;
}

.footertop {
    background: #f8f8f8;


ul.footertoplist {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}



.formsect input {
    margin-left: 0 !important;
    padding: 0;
}

.formsect {
    display: flex;
    flex-wrap: wrap;
    max-width: 466px;
}

.formsect p.text {
    font-size: 14px;
    color: #000000;
    line-height: 16px;
}

.formsect .subm {
    font-size: 12px;
    line-height: 30px;
    color: #000000;
    font-weight: 600;
}
}

@media (max-width: 600px) {


    .footertop .formsect{
        display: flex;
        flex-wrap: wrap;
        max-width: 273px;
    }
    .inputfooter {
        width: 145px;
        height: 38px;
        margin-left: 737px;
        /* display: flex; */
    }
    
    .footertop 
    
    {
        .formsect {
        display: flex;
        flex-wrap: wrap;
        max-width: 273px;
    }
    }

    .emailbuttonfooter {
        background: #002b6b;
        height: 38px;
        width: 57px;
        color: white;
        font-size: 13px;
    }

    .newfooter
    
    {footerBoxSection {
        padding: 28px 46px 18px 59px;
    }

}