.flex_box {
//   gap: 28px;
  display: flex;
  height: 800px;
  padding: .5rem .6rem;
}

.flex_box1 {
    flex: 0.5 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.flex_box2 {
  flex: 0.5;
}

.flex_box3 {
    border: 1px solid black;
    height: 356px;
    width: 483px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.smallimage {
  display: flex;
  flex-direction: row;
  gap: 21px;
}

.productimagesrc {
  border: 1px solid black !important;
}

.rating {
    display: flex;
    height: 15px;
    color: orange ;
  }

  .grey_box{

   
    background-color: lightgrey;
    display: flex;
    width: 329px;
    gap: 47px;
    height: 34px;
    align-items: center;
    border-radius: 10px;
    padding: -0.5rem 11.6rem 0.5rem 0.5rem;
    padding-left: 10px;

  }
  
 .ButtonSection1 {
    height: 56px !important;
    width: 100%;
    /* margin-left: 13px; */
    /* color: white; */
    /* background-color: #0052cc; */
    border-radius: 3px;
    /* border: none; */
    margin-top: 20px;
    border-radius: 6px;
    cursor: pointer !important;
    background: white;
    color: #002b6b;
    border: 2px solid white;
    font-weight: 500;
    display: block;
    text-align: center;
    line-height: 48px;
    padding-left: 15px;
    padding-right: 15px;
    // paadding: 4px 2px 3px 24px;
    box-shadow: 2px 3px 8px 1px #dadada;
  }.botton5{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }