.flex_box {
//   gap: 28px;
  display: flex;
  height: 800px;
  padding: 1.5rem 0.6rem;
}

.flex_box1 {
    flex: 0.5 1;
    display: flex;
    flex-direction: column;
    gap: 26px;
    align-items: center;
}
.flex_box2 {
  flex: 0.5;
}

.flex_box3 {
    border: 1px solid black;
    height: 404px;
    width: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px 17px 64px 26px;
    

}

.smallimage {
  display: flex;
  flex-direction: row;
  gap: 27px;
}

.productimagesrc {
  border: 1px solid black !important;
}

.rating {
    display: flex;
    height: 15px;
    color: orange ;
  }

  .grey_box{

   
    background-color: lightgrey;
    display: flex;
    width: 329px;
    gap: 47px;
    height: 34px;
    align-items: center;
    border-radius: 10px;
    padding: -0.5rem 11.6rem 0.5rem 0.5rem;
    padding-left: 10px;

  }
  
 .ButtonSection1 {
    height: 56px !important;
    width: 100%;
    border-radius: 3px;
    margin-top: 20px;
    border-radius: 6px;
    cursor: pointer !important;
    background: #002b6b;
    color: white;
    border: 2px solid white;
    font-weight: 500;
    display: block;
    text-align: center;
    line-height: 48px;
    padding-left: 15px;
    padding-right: 15px;
  
  }
  
  

  .ButtonSection2 {
    height: 56px !important;
    width: 100%;
    border-radius: 3px;
    margin-top: 20px;
    border-radius: 6px;
    cursor: pointer !important;
    background: #00B0EE;
    color: white;
    border: 2px solid white;
    font-weight: 500;
    display: block;
    text-align: center;
    line-height: 48px;
    padding-left: 32px;
    padding-right: 31px;
  
    text-align: center;
  }
  
  .botton5{
    display: flex;
   
    align-items: center;
    gap: 21px;
  }

  .table_box td{
    background-color: pink;
  }