.flex_box{

 display: flex;
 height: 800px;
}

.flex_box1{

    background-color: pink;
    flex: .5;
}
.flex_box2{

    background-color: aliceblue;
    flex: .5;
}

.flex_box3{
    border: 1px solid black;
    height: 500px;
    width: 500px;
}

.smallimage{
    display: flex;
    flex-direction: row;
    gap: 25px;
}