.flex_box {
  gap: 28px;
  display: flex;
  height: 800px;
  padding: .5rem .6rem;
}

.flex_box1 {
    flex: 0.5 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.flex_box2 {
  flex: 0.5;
}

.flex_box3 {
    border: 1px solid black;
    height: 356px;
    width: 483px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.smallimage {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.productimagesrc {
  border: 1px solid black !important;
}

.rating {
    display: flex;
    height: 15px;
    color: orange !important;
  }
  
