.flex_box{

 display: flex;
 height: 800px;
}

.flex_box1{

    flex: .5;
}
.flex_box2{

   
    flex: .5;
}

.flex_box3{
    border: 1px solid black;
    height: 398px;
  
    display: flex;
    justify-content: center;

}

.smallimage{
    display: flex;
    flex-direction: row;
    gap: 25px;
}