.flex_box {
  //   gap: 28px;
  display: flex;
  height: 800px;
  padding: 1.5rem 0.6rem;
  margin-bottom: 300px;
}

.flex_box1 {
  flex: 0.5 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.flex_box2 {
  flex: 0.5;
}

.flex_box3 {
  border: 1px solid black;
  height: 404px;
  width: 94%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 55px 17px 64px 26px;
}

.flex_box2 h3 {
  flex: 0.5;
  color: #707070;
  font-weight: 500;
  margin: 0px;
}

.flex_box2 h1 {
  font-weight: 500;
  margin: 0px;
}
.smallimage {
  display: flex;
  flex-direction: row;
  gap: 1px;
}

// .productimagesrc {
//   border: 1px solid black !important;
// }

.rating {
  display: flex;
  height: 15px;
  color: orange;
}

.grey_box {
  background-color: #eceef0;
  display: flex;
  width: 329px;
  gap: 49px;
  height: 34px;
  align-items: center;
  border-radius: 10px;
  padding: -0.5rem 11.6rem 0.5rem 0.5rem;
  padding-left: 10px;
  margin: 7px 5px;
}

.ButtonSection1 {
  height: 56px !important;
  width: 100%;
  border-radius: 3px;

  border-radius: 6px;
  cursor: pointer !important;
  background: #002b6b;
  color: white;
  border: 2px solid white;
  font-weight: 500;
  display: block;
  text-align: center;
  line-height: 48px;
  padding-left: 15px;
  padding-right: 15px;
}

.ButtonSection2 {
  height: 56px !important;
  width: 100%;
  border-radius: 3px;

  border-radius: 6px;
  cursor: pointer !important;
  background: #00b0ee;
  color: white;
  border: 2px solid white;
  font-weight: 500;
  display: block;
  text-align: center;
  line-height: 48px;
  padding-left: 32px;
  padding-right: 31px;

  text-align: center;
}

.botton5 {
  display: flex;

  align-items: center;
  gap: 21px;
}

.table_box td {
  // background-color:#ECEEF0;
  padding: 10px;
  width: 50%;
}

.table_box table {
  background-color: #eceef0;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  max-width: 756px;
  color: #6c768c;
  font-size: 15px;
}

.table_box tr:nth-child(even) {
  background-color: white;
}

.span_box {
  color: #002b6b;
}

.card_box {
    background-color: #dee2e6;
}

.cardproduct {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: hidden;
    margin: 0px 17px 8px 16px;
    max-width: 270px;
  
    .productimg {
      width: 100%;
      text-align: center;
      height: 230px;
      .productimagesrc {
        max-height: 200px;
        max-width: 200PX;
        height: 200px;
        margin: 0 auto;
      }
    }
  
    .productcontent {
      width: 100%;
      text-align: center;
      h4 {
        line-height: 1em;
        text-transform: capitalize;
        font-size: 18px;
        color: #002b6b;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        line-clamp: 1;
        -webkit-box-orient: vertical;
        margin: 10px 2px !important;
      }
      p {
        margin: 0px 0px 10px 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }
    .productcartbtn {
      width: 100%;
    }
    button {
      width: 100%;
      border: none;
      background-color: #002b6b;
      font-weight: 400;
      border: 0;
       
      cursor: pointer;
      font-family: inherit;
      padding: 1em;
      transition: all .3s linear;
      width: 100%;
      font-size: 16px;
      color: #fff;
    }
  }
  
 .background_section{background-color: #f5f5f5;
    // margin-top: 263px;
    height: 477px;

}  

.flex_container{

    display: flex;
}

.popup {

  margin: 130px auto;

  padding: 19px 52px;

  background: #fff;

  border: 1px solid #666;

  width: 45%;

  box-shadow: 0 0 50px rgb(0 0 0 / 50%);

  position: relative;

  border-radius: 21px;

  height: 400px;

  

.light & {

  border-color: #aaa;

  box-shadow: 0 2px 10px rgba(0,0,0,0.25);

}



.close {

  position: absolute;

  width: 20px;

  height: 20px;

  top: 20px;

  right: 20px;

  opacity: 0.8;

  transition: all 200ms;

  font-size: 24px;

  font-weight: bold;

  text-decoration: none;

  color: #666;

  &:hover {

    opacity: 1;

  }

}

.content1 {

  max-height: 350px;

  // overflow: auto;

}

//   p {

//     margin: 0 0 1em;

//     &:last-child {

//       margin: 0;

//     }

//   }

}

