.container_width {
  max-width: 1500px;
  margin: 0px auto;
}

.flex_box {
  //   gap: 28px;
  display: flex;
  height: 800px;
  padding: 1.5rem 0.6rem;
  // margin-bottom: 341px;
}

.flex_box1 {
  flex: 0.5 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.flex_box2 {
  flex: 0.5;
}

.flex_box3 {
  border: 1px solid rgb(152, 170, 195);
  height: 442px;
  width: 94%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 47px 17px 64px 26px;
  margin-top: 52px;
}

.flex_box2 h3 {
  flex: 0.5;
  color: #707070;
  font-weight: 500;
  margin: 0px;
}

.flex_box2 h1 {
  font-weight: 500;
  margin: 0px;
}
.smallimage {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

// .productimagesrc {
//   border: 1px solid black !important;
// }
.productimagesrc1 {
  border: 1px solid rgb(152, 170, 195) !important;
}
.rating {
  display: flex;
  height: 15px;
  color: orange;
}

.grey_box {
  background-color: #eceef0;
  display: flex;
  width: 383px;
  gap: 49px;
  height: 34px;
  align-items: center;
  border-radius: 10px;
  padding: -0.5rem 11.6rem 0.5rem 0.5rem;
  padding-left: 10px;
  margin: 7px 5px;
}

.ButtonSection1 {
  height: 56px !important;
  width: 100%;
  border-radius: 3px;

  border-radius: 6px;
  cursor: pointer !important;
  background: #002b6b;
  color: white;
  border: 2px solid white;
  font-weight: 500;
  display: block;
  text-align: center;
  line-height: 48px;
  padding-left: 15px;
  padding-right: 15px;
}

.ButtonSection2 {
  height: 56px !important;
  width: 100%;

  border-radius: 46px;
  cursor: pointer !important;
  background: #00b0ee;
  color: white;
  border: 2px solid white;
  font-weight: 500;
  display: block;
  text-align: center;
  line-height: 48px;
  padding-left: 32px;
  padding-right: 31px;

  text-align: center;
}

.botton5 {
  display: flex;

  align-items: center;
  gap: 21px;
}

.span_box {
  color: #002b6b;
}

.card_box {
  background-color: #dee2e6;
}

.cardproduct {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px 17px 20px 16px;
  max-width: 270px;

  .productimg {
    width: 100%;
    text-align: center;
    height: 230px;
    .productimagesrc {
      max-height: 200px;
      max-width: 200px;
      height: 200px;
      margin: 0 auto;
    }
  }

  .productcontent {
    width: 100%;
    text-align: center;
    h4 {
      line-height: 1em;
      text-transform: capitalize;
      font-size: 18px;
      color: #002b6b;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1; /* number of lines to show */
      line-clamp: 1;
      -webkit-box-orient: vertical;
      margin: 10px 2px !important;
    }
    p {
      margin: 0px 0px 10px 0px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
  .productcartbtn {
    width: 100%;
  }
  button {
    width: 100%;
    border: none;
    background-color: #002b6b;
    font-weight: 400;
    border: 0;

    cursor: pointer;
    font-family: inherit;
    padding: 1em;
    transition: all 0.3s linear;
    width: 100%;
    font-size: 16px;
    color: #fff;
  }
}

.background_section {
  background-color: #f5f5f5;
  // margin-top: 263px;
  height: 477px;
}

// .flex_container {
//   display: flex;
// }

.columns {
  h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: #002b6b;
  }
}
.product_desc {
  font-size: 12px;
  text-align: center;
}
// .rating{
//   justify-content: center;
// }
.marg {
  h2 {
    color: #002b6b !important;
  }
}

.cardproduct:hover,
.cardproduct:active {
  box-shadow: 0.2em 0.5em 0.5em rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
}
.Section_Box {
  width: 100%;
}

.row {
  width: 90%;
  //height: 100vh;
  margin: auto;
  display: flex;
  // align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 21px;
}

.col {
  flex-basis: 45%;
}

.slider {
  height: 51vh;
  display: flex;
}
.product img {
  height: 19vh;
  margin-bottom: 9px;
  cursor: pointer;
  opacity: 0.6;
}

.product img:hover {
  opacity: 1;
}

.preview img {
  // height: 100%;
  height: 53vh;
}

.brand {
  background: #008000;
  width: fit-content;
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
}

.rating {
  display: flex;
  height: 15px;
}

.rating .fa {
  color: #008000;
}

.price {
  // color: #fe980f;
  font-size: 26px;
  font-weight: bold;
  padding-top: 10px;
}

button .fa {
  margin-right: 10px;
}

.related {
  width: 90%;
  margin: 0 auto 40px;
}

.related .row {
  width: 100%;
  height: auto;
}

.columns {
  flex-basis: 22%;
  height: 100%;
}

.items img {
  width: 200px;
}

.details {
  margin-top: 20px;
}

.details p {
  font-size: 16px;
  margin-bottom: 0px;
  padding-top: -8px;
  margin-top: -15px !important;
  font-weight: 400;
}
.pincodestyle {
  display: flex;
  gap: 5px;
}

.details .rating {
  margin: 10px 0;
}

.content {
  //left: 30px;
  position: relative;
}

.Button_Model {
  background-color: #dadada;
  height: 27vh;
  width: 200px;
  position: relative;
}
// modal box
.wrapper {
  width: 176px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border: 10px solid #aaa;
  border-radius: 15px;
  background-clip: padding-box;
  text-align: center;
}

.buttonSection {
  height: 59px;
  width: 100%;
  margin-left: 98px;
  /* color: white; */
  /* background-color: #0052cc; */
  border-radius: 3px;
  /* border: none; */
  margin-top: 20px;
  border-radius: 6px;
  cursor: pointer !important;
  background: #002b6b;
  color: #ebebeb;
  border: 2px solid white;
  font-weight: 500;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
  &.light {
    background: rgba(255, 255, 255, 0.5);
  }
  .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
  }
  &:target {
    visibility: visible;
    opacity: 1;
  }
}

.popup {
  margin: 130px auto;
  padding: 19px 52px;
  background: #fff;
  border: 1px solid #666;
  width: 45%;
  box-shadow: 0 0 50px rgb(0 0 0 / 50%);
  position: relative;
  border-radius: 21px;
  height: 400px;
  z-index: 2;
  .light & {
    border-color: #aaa;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  }

  .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #666;
    &:hover {
      opacity: 1;
    }
  }
  .content1 {
    max-height: 350px;
    // overflow: auto;
  }
  //   p {
  //     margin: 0 0 1em;
  //     &:last-child {
  //       margin: 0;
  //     }
  //   }
}

.FormWidth {
  ul {
    width: 100%;
    padding: 0px;
    margin: 0px;
    li {
      textarea {
        width: 100%;
        margin: 0px;
        padding: 10px;
      }
    }
  }
}

.TextareaSection {
  border-radius: 6px;
  margin-left: 10px;
  border: 2px solid #dadada;
  resize: none;
  font-family: "Poppins";
}

// .Omra_Lael {

//     position: absolute !important;

//     margin: 0 !important;

//     padding: 10px 20px !important;

//     color: #6C768C;

//     font-weight: 600;

//     font-size: 32px;

// }

.Input {
  width: 76%;
  font-family: "Poppins";
  position: relative;
  border-radius: 5px;
  border: 1px solid #888787;
  height: 40px;
  line-height: 2em;
  padding: 5px 10px;
  background: #f6f7fa;
  margin-bottom: 10px;
  margin: 6px;
}

.ModalSection {
  display: flex;
  gap: 13px;
}
.Font {
  font-size: 28px;
  color: #666;
}

.TermsColor {
  font-size: 13px;
  color: blue;
}
.Input {
  width: 100%;
  font-family: "Poppins";
  position: relative;
  border-radius: 5px;
  border: 1px solid #888787;
  height: 40px;
  line-height: 2em;
  padding: 5px 10px;
  background: #f6f7fa;
  margin-bottom: 10px;
  margin: 6px;
}

.Font {
  font-size: 28px;
  color: #666;
}

.ViewNumber {
  height: 54px !important;
  width: 56%;
  /* margin-left: 13px; */
  /* color: white; */
  /* background-color: #0052cc; */
  border-radius: 3px;
  /* border: none; */
  margin-top: 20px;
  border-radius: 6px;
  cursor: pointer !important;
  background: #002b6b;
  color: #002b6b;
  /* border: 2px solid white; */
  font-weight: 500;
  text-align: center;
  line-height: 42px;
  display: inline-flex;
  background-color: white;
  padding: 4px 2px 3px 24px;
  box-shadow: 2px 3px 8px 1px #dadada;
}

.NumberInput {
  height: 40px;
  width: 276px;
  margin-bottom: 12px;
  font-family: "Poppins";
  position: relative;
  border-radius: 5px;
  border: 1px solid #888787;

  line-height: 2em;
  padding: 5px 10px;
  background: #f6f7fa;
}

//isfask
.DisplayFlex {
  display: flex;
  // justify-content: start;
  gap: 44px;
}

.botton5 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.popup2 {
  margin: 130px auto;
  padding: 19px 52px;
  background: #fff;
  border: 1px solid #666;
  width: 40%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;
  border-radius: 21px;
  height: 368px !important;
  z-index: 2;
  .light & {
    border-color: #aaa;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  }

  .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #666;
    &:hover {
      opacity: 1;
    }
  }
  .content1 {
    max-height: 350px;
  }
}
.Input {
  width: 136%;
  font-family: "Poppins";
  position: relative;
  border-radius: 5px;
  border: 1px solid #888787;
  height: 40px;
  line-height: 2em;
  padding: 5px 10px;
  background: #f6f7fa;
  margin-bottom: 10px;
  margin: 6px 0px;
}
.ModalSection {
  display: flex;
  gap: 90px;
  align-items: center;
}
.NumberButton {
  height: 45px;
  width: 300px;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer !important;
  background-color: #efcb2f;
  color: black;
  border: 2px solid white;
  font-weight: 500;
  margin: 10px auto 0 auto;
  display: block;
}
.ButtonSection1 {
  height: 56px !important;
  width: 100%;

  border-radius: 46px;
  cursor: pointer !important;
  background: #002b6b;
  color: white;
  border: 2px solid white;
  font-weight: 500;
  display: block;
  text-align: center;
  line-height: 48px;
  padding-left: 15px;
  padding-right: 15px;
  // paadding: 4px 2px 3px 24px;
  box-shadow: 2px 3px 8px 1px #dadada;
}
.FormWidth ul li {
  margin-top: 4px;
}
.checkboxstyle {
  display: flex;
  align-items: center;
  gap: 5px;
}
.SpanClass {
  font-size: 14px;
}
.check {
  margin: 0px !important;
}
.container {
  display: flex;

  border: 2px solid transparent;
}
.marg {
  margin-left: 10em !important;
  white-space: nowrap;
}
.emailbutton3 {
  height: 56px !important;
  width: 100%;
  /* margin-left: 13px; */
  /* color: white; */
  /* background-color: #0052cc; */
  border-radius: 3px;
  /* border: none; */
  margin-top: 20px;
  border-radius: 6px;
  cursor: pointer !important;
  background: #002b6b;
  color: #ebebeb;
  border: 2px solid white;
  font-weight: 500;
  display: block;
  text-align: center;
  line-height: 48px;
}
.ButtonSection {
  height: 56px !important;
  width: 100%;
  /* margin-left: 13px; */
  /* color: white; */
  /* background-color: #0052cc; */
  border-radius: 3px;
  /* border: none; */
  margin-top: 20px;
  border-radius: 6px;
  cursor: pointer !important;
  background: #002b6b;
  color: #ebebeb;
  border: 2px solid white;
  font-weight: 500;
  display: block;
  text-align: center;
  line-height: 48px;
  padding-left: 30px;
  padding-right: 30px;
}
.check_button_box {
  height: 45px;
  width: 78%;
  /* margin-left: 98px; */
  /* color: white; */
  /* background-color: #0052cc; */
  border-radius: 6px;
  /* border: none; */
  margin-top: 20px;
  cursor: pointer !important;
  background-color: #0052cc;
  color: #fcf1f1;
  border: 2px solid white;
  font-weight: 500;
  display: inline;
  padding: 0px 4px;
  font-size: 14px;
}
.pincodeinput {
  width: 183px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-weight: bold;
  text-align: center;
  padding: 8px 2px;
}
.check_button_box2 {
  position: relative;
  border-radius: 6px;
  border: none;
  margin-top: 20px;
  cursor: pointer !important;
  background: #002b6b;
  color: #ebebeb;
  font-weight: 500;
  display: inline;
  padding: 6px 6px;
  font-size: 14px;
  bottom: -3px;
}
.seemorestyles {
  position: relative;
  margin-left: 322px;
  // bottom: -7px;
  color: #002b6b;
  font-weight: 700;
}
.content2 {
  max-height: 300px;
  text-align: center;
  margin-left: 45px;
  overflow-y: scroll;
}
.InputSection {
  width: 50px;
  height: 26px;
  border: 1px solid #ccc;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .row {
    width: 90% !important;
    //height: 100vh;
    margin: auto !important;
    display: flex !important;
    // align-items: center;
    justify-content: space-between !important;
    gap: 20px !important;
    margin-top: 21px !important;
    flex-wrap: wrap !important;
  }
  .productpreview_content__P8ef_ {
    position: relative !important;
    margin-top: 306px !important;
    margin-left: 101px !important;
    width: 100% !important;
  }
}

.left_product_section {
  padding-left: 57px !important;
}

.reouterproduct {
  display: flex;
}

// .navbarheader {
//     position: relative;
//     display: flex;
//     justify-content: space-evenly;
//     padding: 15px 30px;
//     align-items: center;
//     background: #002b6b;
//     position: sticky;
//     color: white;
//     width: 100%;
//     z-index: 99999;

//     .brandlogo {
//         position: relative;
//         height: 40px;

//         .logo {
//             position: relative;
//         }
//     }
// }

// .navbarright {
//     position: relative;

//     .rightnav {
//         position: relative;

//         .navlinks {
//             position: relative;
//             display: flex;
//             flex-wrap: nowrap;
//             gap: 30px;
//             list-style: none;

//             li {
//                 position: relative;

//                 a {
//                     position: relative;
//                 }
//             }
//         }
//     }
// }

// .searchbox {
//     position: relative;
// }
// .searchinnerbox {
//     position: relative;
//     .searchinput {
//         height: 50px;
//         width: 500px;
//         border-radius: 30px;
//         border: 1px solid #002b6b;
//         padding: 10px 77px 10px 10px;
//         outline: 0;
//         font-size: 16px;
//     }
//     .searchinput1 {
//         position: absolute;
//         top: 2px;
//         right: 2px;
//         height: 45px;
//         padding: 1px 25px;
//         border: 0px solid #000;
//         border-radius: 0px 27px 27px 0px;
//         cursor: pointer;
//         .searchinput1 i {
//             font-size: 20px;
//         }
//     }

//     .searchinput1:hover {
//         background: #002b6b;
//     }

//     .searchinput1:hover i {
//         color: #fff;
//     }
// }

.navbarheader {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  padding: 15px 30px;
  align-items: center;
  background: #002b6b;
  position: sticky;
  color: white;
  width: 100%;
  z-index: 99999;

  .brandlogo {
    position: relative;

    .logo {
      position: relative;
    }
  }
}

.navbarright {
  position: relative;

  .rightnav {
    position: relative;

    .navlinks {
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      gap: 30px;
      list-style: none;

      li {
        position: relative;

        a {
          position: relative;
        }
      }
    }
  }
}

.searchbox {
  position: relative;
}

.button_box {
  background-color: #00b0ee;
  color: white;
  padding: 10px 52px;
  border-radius: 29px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  font-family: "Poppins";
  /* margin-right: 97px; */
  width: 186px;
  border: none;
  height: 50px;
  margin: auto;
}

.button_box1 {
  background-color: #002b6b;
  color: white;
  padding: 10px 22px;
  border-radius: 49px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  font-family: "Poppins";
  /* margin-right: 97px; */
  width: 186px;
  border: none;
  /* height: 52px; */
  margin: auto;
  display: flex;
  gap: 11px;
}

.flex_box {
  display: flex;
  justify-content: space-around;
}
.flex_box1 {
  display: flex;
  justify-content: space-around;
  gap: 22px;
  margin-top: -93px;
}

.heading_section {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-family: Roboto-Light, sans-serif;
}

.searchinnerbox {
  display: flex;
  justify-content: center;
}

.input_section {
  width: 600px;
  height: 64px;
  border-radius: 0px 2px 6px 2px;
}

.cityinput {
  width: 129px;
  height: 64px;
  border-radius: 38px 0px 3px 38px;
}

.input_section1 {
  height: 65px !important;
  width: 160px;
  border-radius: 82px 82px 82px 82px !important;
  background-color: #002b6b !important;
  color: white !important;
  left: 1046px !important;
  position: absolute !important;
}

.phone_icon {
  transform: rotate(124deg);
  top: -3px;
  position: relative;
}

// ----------------------------------------------
.searchbar {
  display: flex;
  justify-content: center;
  margin: 28px auto;
  max-width: 811px;
  align-items: center;
  /* border: solid 1px #a6b1c4; */
  box-shadow: 2px 2px 9px 1px rgb(166 177 196 / 25%);
  border-radius: 30px;

  .citylist input[type="text"] {
    width: 100%;
    border: none;
    margin: 0px 0px 0px 25px;
    outline: none;
    flex: 1;
  }

  .citylist ul.city_list {
    margin: 0;
    padding: 0;
    position: absolute;
    // display: none;
  }

  .citylist {
    border: solid 1px #a6b1c4;
    border-radius: 32px 0 0 32px;
    margin-left: -1px;
    height: 62px;
    display: flex;
    z-index: 1;
    position: relative;
    /* width: 190px; */
    padding: 0px 5px 0px 30px;
    border-right: 0px;
  }

  .citylist ul.city_list {
    display: block;
    position: absolute;
    top: 100%;
    right: 0px;
    background: inherit;
    width: 197px;
    margin-top: 1px;
    background-color: #002b6b;
    border-radius: 0 0 20px 20px;
    padding-bottom: 25px;
  }

  // Search Bar Style
  .searchbox input {
    padding: 0;
    height: 62px;
    text-indent: 1px;
  }

  button {
    height: 65px !important;
    width: 160px;
    border-radius: 82px 82px 82px 82px !important;
    background-color: #002b6b !important;
    color: white !important;
  }

  span.map_icon {
    position: absolute;
    top: 50%;
    left: 35px;
    transform: translate(-50%, -50%);
  }

  .searchbox {
    position: relative;
    flex: 1;
  }

  input {
    width: 100%;
    padding: 5px 10px !important;
    flex: 1;
    outline: none;
    // border: solid 1px #a6b1c4;
  }

  button {
    position: absolute;
    right: -30px;
    cursor: pointer;
  }

  .citylist ul.city_list li {
    padding: 10px 32px 10px 49px;
    position: relative;
    color: #fff;
    cursor: pointer;
  }
}

// Product Merchant Search List

.productSearchList {
  display: block;
  position: absolute;
  margin-top: 1px;
  background-color: #002b6b;
  border-radius: 0 0 20px 20px;
  padding-bottom: 25px;
  left: 0;
  width: 75%;
  z-index: 10;
  li {
    padding: 10px 32px 10px 0;
    position: relative;
    color: #fff;
    cursor: pointer;
  }
}

.div_box {
  display: flex;
  background-color: #dee4ec;
  justify-content: space-between;
  padding: 9px 25px 10px 23px;
  margin: 10px 0px;
}

.company_info {
  border-top: 1px solid rgb(152, 170, 195);
  border-bottom: 1px solid rgb(152, 170, 195);
}
.colcolor {
  color: pink;
}

.Table_Width {
  width: 100%;
  border: 1px solid #dee2e6;

  max-width: 700px;
}
.Table_Width tr td {
  border: 1px solid black;
  bor
}
