.sliderBox{
    background-image: url(/omratrade/sliderbanner.png);
    border-radius: 10px 10px 10px 10px;
    height: 233px;
    width: 420px;
    background-repeat: no-repeat;
    margin-bottom: 20px;

}

.Flex_Section{

    display: flex;
    justify-content: space-evenly;
    gap: 79px;
}

@media (max-width: 600px) {


    .Flex_Section{
        display: flex;
        justify-content: center;
        gap: 23px;
        height: 131px;
        margin-top: 30px;
        /* width: 517px; */
    }
    }