.heading_box
{
    justify-content:center;
  
    color:#002b6b;
    font-size:30px;
   margin-top:80px;
    text-align:center;}


    .flex_box{display: flex;
    
        display: flex;
    justify-content: space-between;
    height: 200px;
    }
   
    .flex_box1{
        
        height: 132px;
        width: 319px;
        background-color: #f6f6f6;
        margin: 3px;
        border-radius: 13px;
        padding: 3px 3px;
        display: flex;
        justify-content: center;
    }
     
    
    .flex_box2{
        
        height: 132px;
        width: 319px;
        background-color: #f6f6f6;
        margin: 3px;
        border-radius: 13px;
        padding: 3px 3px;
        display: flex;
        justify-content: center;
        }

        .flex_box3{
        
            height: 132px;
            width: 319px;
            background-color: #f6f6f6;
            margin: 3px;
            border-radius: 13px;
            padding: 3px 3px;
            display: flex;
            justify-content: center;
            }