.containerMain{
    // background-color:#ececec ;
    display: flex;
    justify-content: space-evenly;
    margin:0px 9px ;
}

.Category_Section{
    background-color: white !important;
    margin: 10px;
    padding: 30px;
    display: flex;
    // border-radius: 50%;
    /* padding: 31px 71px; */
    border: 1px solid #e8e7e7;
    box-shadow: 0 3px 6px rgb(0 0 0 / 2%);
    line-height: 3px;
    display: flex;
    width: 203px;
    height: 181px
}


.Heading_Section{

    text-align: center;
    margin-top: 40px;
    font-size: 40px;
}


/*product card*/




.container {
    display: flex;
    margin-top:20px;
  
  }
  
  /* PRODUCT CARD */
  
  .productcard {
    background-color: #f5f6fa;
    border-radius: 10px;
    color: #2f3640;
    margin: 0 2em;
    transition: all linear .2s;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .productcard:hover,
  .productcard:active {
    box-shadow: .2em .5em .5em rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
  }
  
  .productimg {
    border-radius: 10px 10px 0px 0px;
    height: 150px;
    max-width: 100%;
  }
  
  .imgone {
    background-image: url(https://thumbs.dreamstime.com/b/concept-agile-software-development-concept-agile-software-development-107923572.jpg);
    border-radius: 10px 10px 0px 0px;}
  
  .imgtwo {
    background-image: url(https://www.dahu.bio/images/photos/agriculture/organic-product.jpg);
    border-radius: 10px 10px 0px 0px; }
  
  .imgthree {
    background-image: url(https://youngwonks.s3.amazonaws.com/Blogs/cabinet);
    border-radius: 10px 10px 0px 0px;}
  
  .imgone,
  .imgtwo,
  .imgthree {
    background-size: cover;
    background-position: center;
  }
  
  .producttext {
    padding: 1em;
    text-align: center;
  }
  
  .productcart button{
    border: 0;
    border-radius: 0 0 10px 10px;
    color: #f5f6fa;
    cursor: pointer;
    font-family: inherit;
    padding: 1em;
    text-transform: uppercase;
    transition: all linear .3s;
    width: 100%;
  }
  
  .productcart button:hover {
    font-weight: 500;
    letter-spacing: .1em;
  }
  
  /* color */
  .productcard h3 {
    color: #002b6b;
  }
  
  .productcard  button {
    background-color: #002b6b;
  }
  
  
  
  /* media queries */
  @media screen and (max-width: 860px) {
    .container {
      display: grid;
      grid-column-templates: 1fr;
      grid-auto-rows: auto;
    }
    
    .productcard {
      margin: 1.5em;
    }
  }
