.Flex_Container
{
 display: flex;
 margin-top: 123px;
}


.EmailbuttonSection {
    font-size: 16px;
    height: 46px!important;
    width: 117% !important;
    margin-left: -11px !important;
    /* color: white; */
    /* background-color: #0052cc; */
    border-radius: 3px !important;
    /* border: none; */
    margin-top: 158px !important;
    border-radius: 6px !important;
    cursor: pointer !important;
    background: #002b6b !important;
    color: #ebebeb !important;
    border: 2px solid white !important;
    font-weight: 600 !important;
    display: block !important;
    text-align: center !important;
    line-height: 38px !important;
    padding: 1px 17px;
}

.Image_Section{

    margin-top: 50px;
}

   
  