.sliderBox{
    background-image: url(/omratrade/sliderbanner.png);
    border-radius: 10px 10px 10px 10px;
    height: 233px;
    width: 420px;
    background-repeat: no-repeat;
    margin-bottom: 20px;

}

.Flex_Section{

    display: flex;
    justify-content: space-evenly;
}
